{% set nscd_map = salt['grains.filter_by']({
  'default': {
    'config': {
      'server-user': 'nscd',
      'debug-level': '0',
      'paranoia': 'no',
    },
    'passwd': {
      'enable-cache': 'no',
      'positive-time-to-live': '600',
      'negative-time-to-live': '20',
      'suggested-size': '211',
      'check-files': 'yes',
      'persistent': 'yes',
      'shared': 'yes',
      'max-db-size': '33554432',
      'auto-propagate': 'yes',
    },
    'group': {
      'enable-cache': 'no',
      'positive-time-to-live': '3600',
      'negative-time-to-live': '60',
      'suggested-size': '211',
      'check-files': 'yes',
      'persistent': 'yes',
      'shared': 'yes',
      'max-db-size': '33554432',
      'auto-propagate': 'yes',
    },
    'hosts': {
      'enable-cache': 'yes',
      'positive-time-to-live': '3600',
      'negative-time-to-live': '20',
      'suggested-size': '211',
      'check-files': 'yes',
      'persistent': 'yes',
      'shared': 'yes',
      'max-db-size': '33554432',
    },
    'services': {
      'enable-cache': 'no',
      'positive-time-to-live': '28800',
      'negative-time-to-live': '20',
      'suggested-size': '211',
      'check-files': 'yes',
      'persistent': 'yes',
      'shared': 'yes',
      'max-db-size': '33554432',
    },
    'netgroup': {
      'enable-cache': 'no',
      'positive-time-to-live': '28800',
      'negative-time-to-live': '20',
      'suggested-size': '211',
      'check-files': 'yes',
      'persistent': 'yes',
      'shared': 'yes',
      'max-db-size': '33554432',
    },
  },
},
merge=salt['pillar.get']('nscd:lookup', {}),
default='default') %}
